.divItem{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 30px;
    height: 150px;
    width: 700px;
    border-bottom: 0.5px solid grey;
    padding: 30px;
}

.cartItemImg{
    width: 100px;
    height: 100px;
    img{
        width: 100px;
        height: 100px;
        box-shadow: 0px 0px 10px grey;
        border-radius: 10px;
    }
}

.cartItemInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    h5{
        font-size: 20px;
    }
}