*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tituloProductos{
    margin: 20px;
    text-align: center;
    font-family: Poppins;
}

.productList{
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 0px solid grey;
    column-gap: 100px;
    row-gap: 50px;
    border-radius: 15px;
}

