.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: brown;
    color: white;
    p{
        font-weight: 700;
    }
}